@tailwind base;
@tailwind components;
@tailwind utilities;

.contain-strict {
  contain: strict;
}

body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

.footnote {
  font-size: 13px;
}

.popover {
  width: 98%;
}

.absolute-center {
  left: 50%;
  transform: translateX(-50%);
}
