@tailwind base;
@tailwind components;
@tailwind utilities;

.contain-strict {
  contain: strict;
}

body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

.footnote {
  font-size: 13px;
}

.popover {
  width: 98%;
}

.homepage-bg {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.absolute-center {
  left: 50%;
  transform: translateX(-50%);
}
